
.moreproject-main-container{
    min-width: 30vw;
    height: 100vh;
    /* container deco */
    background-color: white;
    color: black;
    /* content align */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moreproject-main-holder{
  /* content align */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
.moreproject-main-holder>h3{
  /* font styles */
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color:    rgb(93, 93, 93);
  line-height: 70px;
  /* alignmet */
  margin-bottom: 0px;
}

.moreproject-main-holder>p{
  width: 80%;
  /* font styles */
  text-align: center;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  cursor: pointer;
  /* alignment */
  margin-bottom: 0px;
}

.moreproject-main-holder>button{
  /* content styel */
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
  /* alignment */
  margin-top: 1em;
}


.moreproject-main-holder>button:hover{
  background: linear-gradient(135deg, #333333, #000000);
  color: white;
  border-color: white;
  transform: scale(1.05);
}
.moreproject-main-holder>button a {
  text-decoration: none; /* Remove underline */
  color: black; /* Black text */
  font-weight: bold;
}

/* Change link color on button hover */
.moreproject-main-holder > button:hover a {
  color: white; /* Change link color to white on button hover */
}

/* Link styles */
.moreproject-main-holder > button a {
  text-decoration: none; /* Remove underline */
  color: black; /* Black text */
  font-weight: bold;
}

  

/* mobile view */
@media (max-width: 768px) {
    .moreproject-main-container {
      min-width: 340px;
      height: auto; /* Allow the height to adjust based on content */
      padding: 10px;
      background-color: white; /* Example change for mobile */
    }
}
  